<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MyApp.ly</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>

  <script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" ></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <h1> Packing Prepared <img class="add addBag button" data-toggle="modal" data-target=".bs-example-modal-sm" src="/images/glyphicons-191-plus-sign.png"></h1>
  </header>

  <!-- Small modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h4 class="modal-title" id="myModalLabel">Lets Pack Some Stuff!</h4></br>
      <form id="bagContents">
        <div class="testText">
          <input class= "modalInput" id="bagName" type="text" name="bagname" value="" placeholder="Bag Type"></br>
          <div class="checkboxDiv">
            <input class= "modalInput divCheckbox" id="bagFull" type="checkbox" name="name" value=""><label> Is bag full? </label></input></br>
          </div>
          <div class="checkboxDiv">
            <input class= "modalInput divCheckbox" id="bagPacked" type="checkbox" name="name" value=""><label> Is bag Ready? </label></input></br>
          </div>
          <hr>
          <hr>
        </br>
          <input class= "modalInput" id="itemName0" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="important0" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packed0" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <input class= "modalInput" id="itemName1" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="important1" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packed1" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <input class= "modalInput" id="itemName2" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="important2" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packed2" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <input class= "modalInput" id="itemName3" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="important3" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packed3" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <input class= "modalInput" id="itemName4" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="important4" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packed4" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <button class= "modalInput" id="meow" type="submit" name="button">Meow</button></br>


          <!-- </form> -->
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Small modal -->
<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <h4 class="modal-title" id="myModalLabelBig">Lets Change Some Stuff!</h4></br>
      <form id="bagContents">
        <div class="testText">
          <input class= "modalInput" id="bagUpdateName" type="text" name="bagname" value="" placeholder="Bag Type"></br>
          <div class="checkboxDiv">
            <input class= "modalInput divCheckbox" id="bagUpdateFull" type="checkbox" name="name" value=""><label> Is bag full? </label></input></br>
          </div>
          <div class="checkboxDiv">
            <input class= "modalInput divCheckbox" id="bagUpdatePacked" type="checkbox" name="name" value=""><label> Is bag Ready? </label></input></br>
          </div>
          <hr>
          <hr>
        </br>
          <input class= "modalInput" id="itemUpdateName0" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="importantUpdate0" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packedUpdate0" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <input class= "modalInput" id="itemUpdateName1" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="importantUpdate1" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packedUpdate1" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <input class= "modalInput" id="itemUpdateName2" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="importantUpdate2" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packedUpdate2" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <input class= "modalInput" id="itemUpdateName3" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="importantUpdate3" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packedUpdate3" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <input class= "modalInput" id="itemUpdateName4" type="text" name="itemname" value="" placeholder="Item"></br>
            <ul>
              <li><input id="importantUpdate4" type="checkbox" name="name" value=""><label>Important?</label></li>
              <li><input id="packedUpdate4" type="checkbox" name="name" value=""><label>Packed?</label></li>
            </ul>
          <button class= "modalInput editButton" id="meowUpdate" type="submit" name="button">Update</button></br>


          <!-- </form> -->
        </div>
      </form>

    </div>
  </div>
</div>

    <div class="container">
      <div id="target">
        <script id='bag-template' type='text/x-handlebars-template'>
          <!-- one album -->
          <div class="row bag0">
            <div class="row bag" data-bag-id="{{_id}}">
              <div class="col-xs-offset-3 col-xs-6 box">
                <img class="glyph"src="/images/glyphicons-342-briefcase.png">
                <p>{{type}}</p>
                <button type="button" class="btn btn-danger deleteButton">Delete</button>
                <button type="button" class="btn btn-warning editButtonModal" data-toggle="modal" data-target=".bs-example-modal-sm1">Edit</button>
              </div>
            </div>
            <div class="row">
              {{#contents}}
              <div class="col-xs-offset-4 col-sm-5 space" data-item-id="{{_id}}">{{item}}</div>
              {{/contents}}
            </div>
          </div>

        </script>
      </div>
    </div>

</body>
<!-- <footer> icons by GLYPHICONS.com</footer> -->
</html>
