<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MyApp.ly</title>

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- VENDOR SCRIPTS -->
  <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous">
    < /script

    < script src = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" >
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>

<body>
  <header>
    <h1> Packing Prepared <img class="add addBag button" src="/images/glyphicons-191-plus-sign.png"></h1>
  </header>
  <div id="bagContents">
    <div class="testText">
      <!-- <form class=""> -->
      <!-- <form class="" action="index.html" method="post"> -->
      <input id="bagName" type="text" name="bagname" value="" placeholder="Bag Type"></br>
      <input id="bagFull" type="checkbox" name="name" value=""> Is bag full? </input></br>
      <input id="bagPacked" type="checkbox" name="name" value=""> Is bag packed?</input></br>
      <input id="itemName" type="text" name="itemname" value="" placeholder="Item Name"></br>
      <button id="meow" type="button" name="button">Meow</button></br>


      <!-- </form> -->
    </div>
  </div>
    <div class="container">
      <div id="target">
        <script id='bag-template' type='text/x-handlebars-template'>
          <!-- one album -->
          <div class="row bag0">
            <div class="row album" data-bag-id="{{_id}}">
              <div class="col-sm-offset-3 col-sm-6 box">
                <img class="glyph"src="/images/glyphicons-342-briefcase.png">
                <p>{{type}}</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-offset-4 col-sm-5 space">{{item}} </div>
            </div>
          </div>
        </script>
      </div>
    </div>

      <!-- <div class="row bag1">
        <div class="col-sm-offset-3 col-sm-6 box">
          <img class="glyph"src="/images/glyphicons-34-luggage.png">
          <img class="addItem button" src="/images/glyphicons-191-plus-sign.png">
        </div>
      </div>
    </div> -->
  <!-- <a href="/elephant">Elephant</a> -->

</body>
<!-- <footer> icons by GLYPHICONS.com</footer> -->
</html>
